# Gradle
.gradle/
**/build/
!src/**/build/

# IntelliJ IDEA
.idea/
*.iml
*.iws
out/

# Eclipse (just in case)
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# OS specific
.DS_Store
Thumbs.db